/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --border-color: #666;
  }

  body {
    background-color: #181a1b;
    color: var(--text-color);
  }

  input {
    background-color: #181a1b;
    border-color:var(--border-color);
    color: var(--text-color);
  }

    input:focus {
      border-width: 4px;
    }

  th, td {
    border-color: var(--border-color);
  }
}