#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px;

  width: max(50%, 600px);
  height: max(60%, 500px);
}

#verb-table-mobile {
  display: none;
}

#verb-table-desktop {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  width: 100%;
}

  #verb-table-desktop table {
    width: 100% !important;
  }

  #table-topleft {
    width: 150px;
    border: none;
  }

  .left-col {
    width: 150px;
  }