:root {
  --theme-background: #33699b;
  --text-color: #f8f8f8;
}

#root {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px;
  padding-top: 0;

  width: max(50%, 600px);
  height: 100%;
}

  #top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 100vw;
    height: 100%;

    padding: 20px 0;
    margin-bottom: 50px;

    background-color: var(--theme-background);
    color: var(--text-color);
  }

  #verb-input {
    background-color: var(--theme-background);
    border-color: var(--text-color);
    color: var(--text-color);
  }

    ::placeholder {
      opacity: 0.6;
      color: var(--text-color);
    }

    #verb-input ::-webkit-input-placeholder {
      color: var(--text-color);
    }

#verb-table-mobile {
  display: none;
}

#verb-table-desktop {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 200px;

  width: 100%;
}

  #verb-table-desktop table {
    width: 100% !important;
  }

  #table-topleft {
    width: 150px;
    border: none;
  }

  .left-col {
    width: 150px;
  }

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0 5px 0;
  background-color: var(--theme-background);
  color: var(--text-color);
  text-align: center;
}

  #footer p a {
    font-family: 'Montserrat', Arial, sans-serif;
  }

  #my-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }